---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: watchers.cloud.spaceship.com
spec:
  group: cloud.spaceship.com
  names:
    kind: Watcher
    listKind: WatcherList
    plural: watchers
    singular: watcher
  scope: Namespaced
  versions:
  - name: v1alpha2
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              destination:
                description: Destination sets where the rendered objects will be sent.
                properties:
                  http:
                    description: Http is the HTTP destination configuration.
                    properties:
                      bodyTemplate:
                        description: BodyTemplate is the template field to set what
                          will be sent the destination.
                        type: string
                      headerTemplate:
                        description: HeaderTemplate is the template field to set what
                          will be sent the destination.
                        type: string
                      urlTemplate:
                        description: URLTemplate is the template field to set where
                          will be the destination.
                        type: string
                    type: object
                type: object
              filter:
                description: Filter helps filter objects during the watching process.
                properties:
                  create:
                    description: CreateFilter allows you to set create event based
                      filters
                    type: string
                  delete:
                    description: DeleteFilter allows you to set delete event based
                      filters
                    type: string
                  update:
                    description: UpdateFilter allows you to set update event based
                      filters
                    type: string
                type: object
              source:
                description: Source defines the source objects of the watching process.
                properties:
                  apiVersion:
                    description: APIVersion is api version of the object like apps/v1,
                      v1 etc.
                    type: string
                  concurrency:
                    description: Concurrency is how many concurrent workers will be
                      working on processing this source.
                    type: integer
                  kind:
                    description: Kind is the kind of the object like Deployment, Secret,
                      MyCustomResource etc.
                    type: string
                  policies:
                    description: Options allows you to set source specific options
                    items:
                      type: string
                    type: array
                type: object
              valuesFrom:
                description: ValuesFrom allows merging variables from references.
                items:
                  properties:
                    key:
                      description: Key is the specific key within the Secret or ConfigMap
                        to retrieve the value from.
                      type: string
                    kind:
                      description: Kind specifies whether the source is a Secret or
                        ConfigMap.
                      type: string
                    name:
                      description: Name is the name of the Secret or ConfigMap.
                      type: string
                  required:
                  - key
                  - kind
                  - name
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
